<!--div>
    <h2>Elige tu opción:</h2>
    <ul>
        <li *ngFor="let option of options">
            <label>
                <input
                    type="radio"
                    [value]="option"
                    name="vote"
                    (change)="selectedOption = option"
                />
                {{ option }}
            </label>
        </li>
    </ul>
    <button (click)="submitVote()">Votar</button>
</div-->

<div style="margin: 20px;">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="align-items-center">
        <mat-card-title style="text-align: center" class="m-b-0">
          SELECCIONE UN CANDIDATO
        </mat-card-title>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-sm-6 col-lg-4" *ngFor="let candidato of candidatos">
      <mat-card class="cardWithShadow">
        <mat-card-content class="text-center p-24">
          <img
            [src]="candidato.photoUrl || 'assets/images/profile/user5.jpg'"
            class="rounded-circle border p-5"
            width="100"
          />
          <h4 mat-card-title class="card-title m-t-16 m-b-0">
            {{ candidato.nombre }} {{ candidato.apellido }}
          </h4>
          <span class="f-s-12">{{ candidato.partido }}</span>
          <div class="m-t-20">
            <span class="f-s-14">
              <br /> Lista: {{ candidato.numeroLista }} 
            </span>
          </div>
          <div class="m-t-20">
            <button 
              mat-flat-button 
              class="m-r-8" 
              color="primary"
              (click)="selectedOption = candidato.id; submitVote()">
              Votar
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div style="text-align: center; margin-top: 20px;">
  <button 
    mat-flat-button 
    color="accent" 
    (click)="startAutoVoting()">
    Iniciar Votación Automática
  </button>
  <button 
    mat-flat-button 
    color="warn" 
    (click)="stopAutoVoting()">
    Detener Votación Automática
  </button>
</div>

